.test-area {
    margin-left: 48px;
    margin-top: 48px;
    padding: 24px;
    border: 1px solid #e0e0e0;
    display: inline-block;
}

.test-area:hover {
    background: #cacaca;
    border: 1px solid black;
    cursor: pointer;
}

.test-area:active {
    background: #aaaaaa;
    border: 1px solid red;
    cursor: pointer;
}

.nosel {
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

.popup {
    padding: 12px;
    border: 1px solid red;
    background: black;
    color: white;
    left: 0px;
    top: 0px;
    display: none;
    position: absolute;
    z-index: 999;
    box-shadow: 5px 5px black;
}

.popup-btn {
    width: 32px;
    height: 32px;
    padding: 8px;
    border: 1px solid white;
    display: inline-block;
}

#dim-screen {
    position: fixed;
    display: none;
    margin: 0px;
    padding: 0px;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 998;
}

.popup-btn:hover {
    border: 1px solid red;
    cursor: pointer;
}
