<div id="cp" class="pacifier-nosel pacifier-popup">
    <div onclick="Pacifier.hideAllPanels()" class="pacifier-popup-btn">
        X
    </div>

    <div class="pacifier-popup-btn">
        1
    </div>

    <div class="pacifier-popup-btn">
        2
    </div>
</div>
