.pacifier-nosel {
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

.popup {
    padding: 12px;
}

div.pacifier-popup {
    padding: 12px;
    border: 1px solid red;
    background: black;
    color: white;
    left: 0px;
    top: 0px;
    display: none;
    position: absolute;
    z-index: 999;
    box-shadow: 5px 5px black;
}

.popup-btn {
    width: 32px;
    height: 32px;
    padding: 8px;
    border: 1px solid white;
    display: inline-block;
}
